@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 24, 24, 27;
  --background-rgb: 253, 251, 247;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-feature-settings: "ss01" 1, "ss02" 1, "ss03" 1, "ss04" 1, "ss05" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-family: "Neue Haas Grotesk", system-ui, sans-serif;
  }

  .font-serif {
    font-family: "Canela", Georgia, serif;
  }
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgb(var(--background-rgb));
}

::-webkit-scrollbar-thumb {
  background: #e4e4e7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

::selection {
  background: rgba(24, 24, 27, 0.05);
}

/* Text Balance */
.balance-text {
  text-wrap: balance;
} 